#frame {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 545px;
    height: 629px;
    background-image: url(../images/frame.png);
    z-index: 2;
    overflow: hidden;
}

#pic_box {
    position: relative;
    left: 91px;
    top: 84px;
    width: 367px;
    height: 460px;
    z-index: 1;
    overflow: hidden;
}